.flex{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}

.item-flex{
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-top : 1%;
    padding-bottom: 1%;
}